.TextContent2{
  background: var(--bg2);
  padding: 40px;
  border-radius: 5px;
  min-height: 50vh;
  grid-row: 1;
  grid-column: 2/4;
}

@media (max-width: 800px) {
  .TextContent2{
    width: 75vw;
    grid-row: 2;
    grid-column: 1/4;
  }
}

