body{
  background: var(--bg1);
}

.container{
  width: 100vw;
  height: 100vh;
}

.h1, .h2, .h3{
  transition: 0.5s;
}

.h2, .h3{
  font-size: 50px;
  color: var(--red);
}

.h1{
  font-size: 50px;
  color: white;
}

.presentation{
  float: left;
  display: grid;
  place-items: center;
  align-items: center;
}

.hs{
  width: 55%;
}

.description{
  float: right;
  display: grid;
  place-items: center;
}

.description p{
  width: 70%;
  text-align: left;
}

.description h1{
  text-align: center;
}

.presentation, .description{
  width: 50vw;
  height: 100vh;
}

.h1:hover, .h2:hover, .h3:hover{
  margin-left: 15px;
  transition: 0.2s;
  cursor: pointer;
}